*{
	box-sizing: border-box;
	border:1px solid black;
}

body{
	color:#000000;
	font-family:'lato', sans-serif;

}



section{
	width:60%;
	float:left;
	padding-right:20px;
}

aside{
	width:40%;
	float:left;
}

img{
	display:block;
	max-width: 100%;
	margin: 10px 0;
}

footer{
	clear:both;
}

nav{
	display:inline:block;
	font-size:20px;
	padding:10px;
	background: grey;
}


section p::first-letter{
	color:#D2D2D2;
	float:left;
	width: 4.0em;
	line-height: 72%;
	padding:5px;
	font-size:68px;
}