h1{
	color:black;
	font-size: 24px;
	text-decoration: overline;
}

h2{
	text-decoration: overline;
	text-decoration: underline;
}

body{
	background-color:rgb(102,205,170);
	font-family:fantasy;
	font-stretch: condensed;
	color:rgba(0,0,0,0.5);
}

figcaption{
	font-style: times;
	font-size:12px;
	color:black;
}

hr{
	background-color:black;
}