h1{
	color:black;
	font-size: 24px;
	text-decoration: overline;
}

h2{
	text-decoration: overline;
	text-decoration: underline;
}

body{
	background-color:rgb(102,205,170);
	font-family:fantasy;
	font-stretch: condensed;
	color:rgba(0,0,0,0.5);
}

figcaption{
	font-style: times;
	font-size:12px;
	color:black;
}

h3{
	text-decoration: underline;
}

blockquote{
	float:right;
	width:275px;
	font-size:130%;
	font-style:times;
	font-style:italic;
	margin; 0px 0px 10px 10px;
	padding: 10px;
	border-top: 1px solid #665544;
	border-bottom:1px solid #665544;
}

li{
	color:black;
	font-style:bold;
}