/* ==========================================================================
   Global Overrides
  ========================================================================== */
* {
  box-sizing: border-box;
/*   border: 1px solid red; */
}

.clearfix:after {
  display: table;
  clear: both;
  content: "";
}

/* ==========================================================================
   Author's custom styles
  ========================================================================== */

/* 
    SITE COLORS for your reference:
    (refer to styleguide.jpg for hex codes or use Sip to pick colors from design)

    White - #ffffff;
    Light Grey -
    Dark Grey -
    Grey/Black(text color) -
    Yellow -
    Red -
*/


/* Global
   ================================================================ */
body {
  /* Set some defaults! font-family, font-size, color, etc. */
}

/* Text Styles (a, a:hover, a:visited, a:active, p, h1, h2, h3, h4, etc.)
   ================================================================ */
a {
  /* Set some default styles for anchors (color, text decoration) */
}

p{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

h2{
  text-align: center;
  font-size: 25px;

}

h3{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size:25px;
}

.tagline{
  display:block;
  text-align: center;
  padding:30px;
  font-family: 'Merriweather', serif;
  font-style: italic;
  font-weight:700;
  background-color: #d4e1db;
  margin-top: 0px;
  margin-bottom: 0px;
  border-top: 3px solid #fedb0d;
  font-size: 25px
}


/* Layout (columns, floats, etc.)
   ================================================================ */
.info{
  width:30%;
  float:left;
  padding: 20px;
  margin:20px;
  text-align: center;
}

/* Header
   ================================================================ */
header{
  display:block;
  background: #3c3a3a;
  height:100px;
  padding:30px;
}


h1{
  float:left;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 30px;
}

.blurb{
  float:right;
  border:1px solid black;
  width:400px;
  padding:40px;
  box-shadow: 10px 10px 5px #888888;
  background-color: rgb(192,192,192);
  background-color:rgba(0,0,0,0.4);
}

.banner{
  background-image: url("../images/coworking.jpg");
  background-position: center;
  background-repeat: none;
  padding:40px;

}

/* Footer
   ================================================================ */

footer{
  clear:both;
  padding:10px;
  background:#3c3a3a;
  color:#d4e1db;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size:20px;
}

/* Navigation
   ================================================================ */
nav{
  float:right;
  text-align: center;
  padding:20px;
  font-size: 20px;


}

nav, li{
  display:inline-block;
}

.button{
  color:#080808;
  background-color:#d4e1db;
  padding:10px;
  box-shadow: 10px 10px 5px #888888;
  border-radius: 5px;  
  display:block;
  text-align: center;
  font-size: 20px;
}

div.button{
  background-color: red;
  color:white;
}

/* Buttons
   ================================================================ */